{% extends "@AdminLTE/layout/default-layout.html.twig" %}

{% block logo_mini %}{{ logo_mini|default('LM') }}{% endblock %}
{% block logo_large %} {{ logo_large|default('App Logo')}} {% endblock %}

{% block sidebar_nav %}
    {% include '@SurvosBase/render_sidebar_menu.html.twig' with {menuCode: 'survos_sidebar_menu'} %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block page_title 'home.title'|trans %}
{% block page_subtitle 'home.description'|trans %}

{% block navbar_user %}
    <li class="nav-item active">
        USER
        <a href="{{ path('app_login') }}">Login</a>
    </li>

    {{ render(controller('KevinPapst\\AdminLTEBundle\\Controller\\NavbarController::userAction')) }}
{% endblock %}

{% block page_content %}
    {{ block('body') }}
{% endblock %}

{% block body %}

    {{ block('welcome') }}
    Extending the base bundle requires a 'body' block.

    The current route is <em>{{ app.request.get('_route') }}</em>

{% endblock %}

{% block welcome %}
    {# ... box widget with defaults ... #}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {% block box_title %}Welcome!{% endblock %}
        {% block box_body %}
            <div class="callout callout-info">
                Welcome to the Survos Base Bunde.

                Next steps:
                <ul>
                    <li>Create the sidebar menu</li>
                    <li>Create the Login/Register</li>
                    <li><code>bin/console make:controller AppController</code>, then set the route app_homepage.  That will get rid of this page. </li>
                    <li><code>bin/console survos:make:entity</code> (@todo).  For now, use make:entity, then extend SurvosBaseEntity and set the uniqueID </li>
                </ul>
            </div>
        {% endblock %}

        {% block box_footer %}
            <div class="pull-right">
                {{ btn.link_button('Home', path('app_homepage')) }}
                {{ btn.link_button('Login',path('app_login') ) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
