{% import '@SurvosBase/Macros/buttons.html.twig' as button %}
{% if block('box_before') is defined %}{{ block('box_before') }}{% endif %}


{% if block('box_title') is defined %}<h3 class="card-title">{{ block('box_title') }}</h3>{% endif %}
    {% if block('box_footer') is defined %}
        <div class="card-body{% if block('box_body_class') is defined %} {{ block('box_body_class') }}{% endif %}">{{ block('box_body') }}</div>

        {#
        If there is a form in the block_footer, it will be rendered when checking "is not empty".
        Therefor we have to cache the output first and then perform the checks.
        #}
        {% set boxFooter = block('box_footer') %}
        {% if boxFooter is not empty %}
            <div class="card-footer">{{ boxFooter|raw }}</div>
        {% endif %}
    {% endif %}
